
body,html{
	width: 100%;
	height: 100%;
	background-color: black;
}
.wrapper{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content:center;
	align-items: center;
}
.container{
	width: 500px;
	height: 500px;
	border: 5px solid rebeccapurple;;
	animation: rot 10s linear infinite;
}
.wrap-ball{
	width: 98%;
	height: 100px;
	border: 5px solid green;
	animation: move 2s linear infinite alternate;
}
.ball{
    height: 100%;
    width: 100px;
    border-radius: 100%;
    background-color: black;
    animation: ball 1s linear infinite alternate;
}
@keyframes ball {
  from{
	transform:translateX(390%);
	background-color: aqua;
  }
  to{
	transform:translateX(0);
	background-color: blueviolet;
  }
}
@keyframes move{
  from{
  	transform:translateX(0);
  }
  to{
	
	transform:translateY(360%);
  }
}
@keyframes rot{
  0%{
  	transform:rotate(0);
  }
  50%{
  	transform:rotate(180deg);
  	border-color: black;
  }
  100%{
  	transform:rotate(360deg);
  	border-color: red;
  }
}